*{
    margin: 0;
    padding: 0;
}
#logo{
    width: 40px;
    height: 40px;
}
body{
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    background-color: #575b76;
}
nav {
    width: 100%;
    overflow: hidden;
    color: aliceblue;
    position: absolute;
    z-index: 2000;
    background: linear-gradient(rgba(19, 18, 18),transparent );
    position: fixed;
}
.wrapper-main{
    width: 100%;
    background-color: #464858;
    overflow-x: hidden;
}
.hide{
    opacity: 0;
}
.moviedata{
    position: absolute;
    z-index: 200;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    background-color: rgba(64, 64, 64, 0.5);
}
.nav img{
    max-height: 80vh;
}
#mask{
    background:linear-gradient(rgba(162, 77, 77, 0.3),rgb(54, 54, 227,.5));
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    margin: auto;
}
h2{
    color:goldenrod;
}
.nav{
    box-shadow: 0 0px 4px rgba(64, 64, 64);
    text-align: center;
    background-color: #43455c;
    font-size: 14px;
    font-weight: 300;
    color: white;
    width: 100%;
    box-shadow: 0 4px 4px rgba(64, 64, 64, 0.5);
    background-size: 100% auto;
    background-color: black;
    background-repeat: no-repeat;
    background-position:top;
    padding: 0;
    position: relative;
}
input{
    border-radius: 2px;
    border: 0;
    margin-bottom: 2px;
    max-height: 40px;
}
nav h3{
    font-size: 30px;
    font-weight: 700;
        background: -webkit-linear-gradient(goldenrod, rgb(232, 224, 224));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    border-radius: 5px;
}
.search {
    background-color: #332fd0;
    border-radius: 2px;
    border: 0;
    height: 30px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.card{
    border: 0;
    overflow: hidden;
    text-align: center;
    width:180px;
    max-height: 270px;
    min-height: 210px;
    background-color: rgba(48, 50, 78, 0.5);
    color:aliceblue;
    margin: auto;
}
.cardfoot{
    font-size: 12px;
    border-top:1px solid black;  
    height: 50px; 
    overflow:-moz-hidden-unscrollable;
}
.loader p {
    color: rgba(28, 28, 60, 0.7);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30vh;
}

.loader {
    text-align: center;
}
.row{
    margin: 0;
}
.card p{
    margin: auto;
    word-wrap: break-word;
    position: relative;
}

.centre{
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}
.image{
    min-height: 220px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSW_cOpv69GlSNE6wNu0br79JbGnKKezsd1g&usqp=CAU");
}
.image:hover{
    filter: blur(1px)
}
.hidden{
    display: none;
}
.vote{
    position: absolute;
    z-index: 2;
    background-color: #cd0404;
    width: 30px;
}
.overview{
    position: absolute;
    z-index: 3;
    background-color: transparent;
    overflow-y:scroll;
    height: 70%;
    color:goldenrod;
    font-size: 14px;
    font-weight: 500;
    margin-top:20px;
}
#headline{
    background-color: #232437;
    margin-bottom: 0;
}
.main{
    box-shadow: 0 0px 10px rgb(85, 83, 83);
}
.cardfoot ::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.overview{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.cardfoot{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.back,.next{
    background-color: #cd0404;
    color: aliceblue;
    padding: 8px;
    border-radius: 4px;
}
@media (max-width:441px) {
    .search-bar{
        flex-direction: column;
    }
    .search{
        max-width: 70px;
    }
    .card{
        width: auto;
        max-height: 100vw;
        height: auto;
        min-height: 0;
    }

    #logo{
        display: none;
    }
}   